<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Birth Certificate Update</title>
  <link rel="stylesheet" href="../static/update.css">
</head>

<body>
  <div class="hero">
    <div id="header">
      <form action="/logout" method="get|post" style="display:inline;">
      <button type="submit" class="button">Logout</button>
      </form>
      <a href="/home">Home</a>
      <a href="/users">Users</a>
      <a href="/birthcertificate">Add</a>
    </div>
    <div class="head">
      <h1 style="text-align: center;">Birth Certificate Registration Form</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
      <div class="container">
        <div class="flex-child">
          <label for="certificate_no">Certificate No:{{certificate_no}}</label></br>
          <input type="hidden" id="certificate_no" name="certificate_no" value="{{ certificate_no }}"></br></br>
          <label>Full Name of Child:</label><br />
          <input type="text" id="name" name="name" placeholder="Enter full name" value="{{ name }}" required /><br /><br />
          <label>Father Name:</label><br />
          <input type="text" name="fathername" id="fathername" placeholder="Enter father's full name"
            value="{{ fathername }}" required /><br /><br />
          <label>Mother Name:</label><br />
          <input type="text" name="mothername" id="mothername" placeholder="Enter mother's full name"
            value="{{ mothername }}" required /><br /><br />
          <label>Grandfather Name:</label><br />
          <input type="text" name="grandfathername" id="grandfathername" placeholder="Enter Grandfather's full name"
            value="{{ grandfathername }}" required /><br /><br />
          <label>Gender:</label> <br />
          <input type="radio" id="male" name="gender" value="son" required {% if gender == 'son' %}checked{% endif %}>
          Male<br />
          <input type="radio" id="female" name="gender" value="daughter" required {% if gender == 'daughter' %}checked{% endif %}>
          Female<br /><br>
          <label> Date of Birth:</label><br />
          <input type="date" id="dob" name="dob" value="{{ dob }}" /><br /><br />
        </div>

        <div class="flex-child">
          <label>Zone:</label><br />
          <select id="zone" name="zone">
            <option value="Koshi" {% if zone == 'Koshi' %}selected{% endif %}>Koshi</option>
            <option value="Madhesh" {% if zone == 'Madhesh' %}selected{% endif %}>Madhesh</option>
            <option value="Bagmati" {% if zone == 'Bagmati' %}selected{% endif %}>Bagmati</option>
            <option value="Gandaki" {% if zone == 'Gandaki' %}selected{% endif %}>Gandaki</option>
            <option value="Karnali" {% if zone == 'Karnali' %}selected{% endif %}>Karnali</option>
            <option value="Lumbini" {% if zone == 'Lumbini' %}selected{% endif %}>Lumbini</option>
            <option value="Sudurpashchim" {% if zone == 'Sudurpashchim' %}selected{% endif %}>Sudurpashchim</option>

            <!-- Add options for other zones -->
          </select><br /><br />
          <label>District:</label><br />
          <input type="text" id="district" name="district" placeholder="Enter your District" value="{{ district }}" required /><br /><br />
          <label> Municipality/VDC:</label><br />
          <input type="radio" id="mun" name="muni_vdc" value="Municipality" {% if muni_vdc == 'Municipality' %}checked{% endif %} required />Municipality<br />
          <input type="radio" id="vdc" name="muni_vdc" value="VDC" {% if muni_vdc == 'VDC' %}checked{% endif %} required />VDC<br /><br />
          <label> Municipality/VDC Name:</label><br />
          <input type="text" name="muni_vdc_name"  placeholder="Enter Municipality/VDC Name" value="{{ muni_vdc_name }}" required /><br /><br />
          <label> Ward No:</label><br />
          <input type="number" id="wardno" name="ward_no" placeholder="Enter ward number" value="{{ ward_no }}" required /><br /><br />
        </div>
      </div>
      <div style="align-items: center; margin-left: 50%;
      margin-bottom: 20px;">
        <input type="submit" value="Update" id="button"/>
      </div>
    </form>
  </div>
</body>
<script src="static/updateform.js"></script>

</html>
